BotToken: TOKEN
WebPort: 8080
NeteaseApi: http://localhost:3000
NetEaseCookie: COOKIE
QQApi: http://localhost:3200
VoicePort: 5559
KOOKVoice: ./assets/dist/kookvoice-arm64-darwin
VoiceChannel:
  - Name: Sample
    ID: CHANNELID